@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #58427c;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 1px solid #393a3b;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #393a3b;
}

#root {
  background-color: #58427c;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Quicksand", sans-serif;
}

#timer-label {
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #menu {
    width: 100vw !important;
    min-height: 400px;
  }
}

.pomodoro-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.Timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#controls {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.svg {
  width: 100%;
  height: 100%;
}

.icon {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0;
  border: none;
  width: 40px;
  height: 40px;
}

.time-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.3rem;
}

.time-label {
  grid-column: 1 / span 3;
}

#time-left {
  margin: 0;
}

.session-indicator {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
}

.edit-session {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed !important;
  opacity: 1;
}

/* Update default button styling */
button {
  text-align: left;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: none;
  color: inherit;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

button:active {
  background-color: rgba(58, 58, 58, 0.5);
}

.edit-button:hover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.edit-button button,
.edit-button p {
  font-size: 16px;
}

label {
  display: block;
  font-size: 12px;
}

.colorSelector {
  display: block;
  padding: 0.5rem;
}

input[type="color"] {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #ccc;
}

input[type="color"]:hover {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.input-container {
  display: flex;
  flex-direction: row;
}

#description {
  position: absolute;
  bottom: 0px;
}

.input-container input {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid black;
}

.input-container button {
  flex: 0;
}

#open-menu {
  position: absolute;
  z-index: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 45px;
}

#close-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  z-index: 1;
}

#menu {
  position: relative;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7rem;
  background-color: #202123;
  opacity: 0.9;
  height: 100%;
  padding: 3rem 1rem 1rem 1rem;
  min-width: 200px;
  width: 300px;
}

.session-controls {
  display: flex;
  align-items: center;
}

#buttons-for-editing {
  display: flex;
  flex-direction: column;
}

.tick-btn {
  margin-left: 0.3rem;
}

/* Timer animations */

.clock-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  aspect-ratio: 1/1;
}

.timer-background {
  fill: none;
  stroke-width: 3;
}

.timer-progress {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 3;
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: stroke-dashoffset 1s linear;
}

#circle-svg {
  display: block;
  margin: auto;
}
